@font-face {
    font-family: BF_Modernista; font-weight: 400; src: url('./resources/BF_Modernista-Regular.ttf');
    font-family: BF_Modernista; font-weight: 700; src: url('./resources/BF_Modernista-Bold.ttf');
    font-family: BF_Modernista_Solid; src: url('./resources/BF_Modernista_Solid-Medium.ttf');

    font-family: PURISTA; font-weight: 100; src: url("./resources/PURISTA_THIN.TTF");
    font-family: PURISTA; font-weight: 400; src: url("./resources/PURISTA_LIGHT.TTF");
    font-family: PURISTA; font-weight: 700; src: url("./resources/PURISTA_SEMIBOLD.TTF");
}

body {
    background-image: url("https://media.contentapi.ea.com/content/dam/battlefield/battlefield-2042/common/newsletter-background-image.jpg.adapt.3000w.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text {
    font-size: 26px;
    font-family: PURISTA;
    font-weight: 400;
    transition-duration: 0.4s;
    color: aliceblue;
}

.content {
    padding: 100px 20vw 0px 20vw;
}

.tabcontent {
    display: none;
    
}

.header {
    display: grid;
    grid-template-columns: repeat(5,auto);
    max-width: 100vw;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.header_button {
    
    display: inline-block;
    outline: 0;
    border-radius: 15px;
    box-shadow: 0 0 4px 4px #24fcdc2d;
    background: #f700ff00;
    border: 5px solid #00000000;
    font-size: 28px;
    padding: 10px 5px;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: BF_Modernista_Solid;
    color: #e4e4e4;
    
}

.header_button:hover, .header_button.active {
    border-color: #e4e4e4;
    color: #000000;
    border-color: #fff70000;
}

#Prologue:hover, #Prologue.active {
    background: #24fcdc;
}

#Zero:hover, #Zero.active {
    background: #FFF500;
}

#Master:hover, #Master.active {
    background: #E61400;
}

#Escalation:hover, #Escalation.active {
    background: #00E6FF;
}

#Eleven:hover, #Eleven.active {
    background: #6DFF8F;
}

#Epilogue:hover, #Epilogue.active {
    background: #24fcdc;
}

#Dawn:hover {
    background: #FF6432;
}

#Dark:hover {
    background: #647dff;
}

#Turning:hover {
    background: #f0b469;
}

#Continue:hover {
    background: #24fcdc;
}