@font-face {
    font-family: 'BFMS'; src: url('./resources/bf_modernista_solid-medium-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'PUR'; src: url('./resources/purista-webfont.woff2') format('woff2');
}

body {
    background-image: url("https://media.contentapi.ea.com/content/dam/battlefield/battlefield-2042/common/newsletter-background-image.jpg.adapt.3000w.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

audio {
    width: clamp(35vw, calc(40vw + 144px), 90vw);
    margin: 0 auto;
    background-color: #000000;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.highlightHeaders {
    color: #24fcdc;
}

.highlight {
    display: inline-block;
    color: #24FCDC;
    position: relative;
    cursor: pointer;
}

.highlightZero {
    display: inline-block;
    color: #FFF500;
    position: relative;
    cursor: pointer;
}

.highlightMaster {
    display: inline-block;
    color: #E61400;
    position: relative;
    cursor: pointer;
}

.highlightEscalation {
    display: inline-block;
    color: #00E6FF;
    position: relative;
    cursor: pointer;
}

.highlightEleven {
    display: inline-block;
    color: #6DFF8F;
    position: relative;
    cursor: pointer;
}

.highlightEpilogue {
    display: inline-block;
    color: #24FCDC;
    position: relative;
    cursor: pointer;
}

.highlightDawn {
    display: inline-block;
    color: #FF6432;
    position: relative;
    cursor: pointer;
}

.highlightDark {
    display: inline-block;
    color: #647dff;
    position: relative;
    cursor: pointer;
}

.highlightTurning {
    display: inline-block;
    color: #f0b469;
    position: relative;
    cursor: pointer;
}

.highlightContinue {
    display: inline-block;
    color: #daee1e;
    position: relative;
    cursor: pointer;
}

.highlight:hover, .highlightZero:hover, .highlightMaster:hover, .highlightEscalation:hover, .highlightEleven:hover, .highlightDawn:hover, .highlightEpilogue:hover, .highlightDark:hover, .highlightTurning:hover, .highlightContinue:hover {
    font-weight: 700;
    box-shadow: 0 0 20px 4px #000000;
    
}

.highlight::after, .highlightZero::after, .highlightMaster::after, .highlightEscalation::after, .highlightEleven::after, .highlightDawn::after, .highlightEpilogue::after, .highlightDark::after, .highlightTurning::after, .highlightContinue::after {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    box-shadow: 12px 12px 15px 6px #000000;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: 3px solid;
    width: max-content;
    max-width: 40vw;
    min-width: 30vw;
    cursor: pointer;
    white-space: pre-wrap;
    z-index: 1000;
    margin: 0 auto;
  }

.highlight:hover::after, .highlightZero:hover::after, .highlightMaster:hover::after, .highlightEscalation:hover::after, .highlightEleven:hover::after, .highlightDawn:hover::after, .highlightEpilogue:hover::after, .highlightDark:hover::after, .highlightTurning:hover::after, .highlightContinue:hover::after {
    display: block; /* Show the tooltip on hover */
}


a:link {
    color: #FC2C0C;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #db6654;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #24FCDC;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }


.text {
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-family: verdana;
    transition-duration: 0.4s;
    color: aliceblue;
}

.content {
    width: clamp(35vw, calc(40vw + 144px), 90vw);
    margin: 0 auto;
}

.tabcontent {
    display: none;
}

.header {
    display: grid;
    position: sticky;
    top: 0;
    background: fixed;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px #00000065;
    background-color: #000000;
    grid-template-columns: repeat(5, auto);
    max-width: 100vw;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    margin: 0 auto;
    z-index: 1000;
}

.header.scrolled {
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
    background-color: #333333;
}

.header_button {
    
    display: inline-block;
    outline: 0;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #ffffff28;
    background: #f700ff00;
    border: 5px solid #00000000;
    font-size: 1.3rem;
    letter-spacing: 0;
    padding: 10px 10px;
    text-align: center;
    transition-duration: 0.5s;
    cursor: pointer;
    font-family: 'BFMS';
    color: aliceblue;
    
}

.footer {

    display: grid;
    position: sticky;
    bottom: 0;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px #00000065;
    background-color: #000000;
    grid-template-columns: repeat(3, auto);
    width: clamp(50vw, calc(35vw + 216px), 90vw);
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
    margin: 0 auto;
    z-index: 1000;

}

.footer_button {

    display: inline-block;
    outline: 0;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #ffffff28;
    background: #f700ff00;
    border: 5px solid #00000000;
    font-size: 1.2rem;
    letter-spacing: 0;
    padding: 5px 5px;
    text-align: center;
    transition-duration: 0.5s;
    cursor: pointer;
    font-family: 'BFMS';
    color: aliceblue;

}

.footer_button:hover {
    border-color: #e4e4e4;
    color: #000000;
    border-color: #fff70000;
}

#Back-to-homepage:hover, #Previous:hover, #Next:hover {
    background: #FC2C0C;
    box-shadow: 0 0 0 6px #FC2C0C;
}

.header_button:hover, .header_button.active {
    border-color: #e4e4e4;
    color: #000000;
    border-color: #fff70000;
}

#Prologue:hover, #Prologue.active {
    background: #24fcdc;
    box-shadow: 0 0 0 6px #24fcdc;
}

#Zero:hover, #Zero.active {
    background: #FFF500;
    box-shadow: 0 0 0 6px #FFF500;
}

#Master:hover, #Master.active {
    background: #E61400;
    box-shadow: 0 0 0 6px #E61400;
}

#Escalation:hover, #Escalation.active {
    background: #00E6FF;
    box-shadow: 0 0 0 6px #00E6FF;
}

#Eleven:hover, #Eleven.active {
    background: #6DFF8F;
    box-shadow: 0 0 0 6px #6DFF8F;
}

#Epilogue:hover, #Epilogue.active {
    background: #24fcdc;
    box-shadow: 0 0 0 6px #24fcdc;
}

#Dawn:hover, #Dawn.active {
    background: #FF6432;
    box-shadow: 0 0 0 6px #FF6432;
}

#Dark:hover, #Dark.active {
    background: #647dff;
    box-shadow: 0 0 0 6px #647dff;
}

#Turning:hover, #Turning.active {
    background: #f0b469;
    box-shadow: 0 0 0 6px #f0b469;
}

#Continue:hover, #Continue.active {
    background: #daee1e;
    box-shadow: 0 0 0 6px #daee1e;
}

#welcome-to-summary {
    color: #24fcdc;
    font-family: 'BFMS';
    line-height: 2.5rem;
}

#the-prologue {
    color: #24fcdc;
    font-family: 'BFMS';
    line-height: 2.5rem;
}

#season-1-zero-hour {
    color: #FFF500;
    font-family: 'BFMS';
    line-height: 2.5rem;
}

#season-2-master-of-arms {
    color: #E61400;
    font-family: 'BFMS';
    line-height: 2.5rem;
}

#season-3-escalation {
    color: #00E6FF;
    font-family: 'BFMS';
    line-height: 2.5rem;
    line-height: 2.5rem;
}

#season-4-eleventh-hour {
    color: #6DFF8F;
    font-family: 'BFMS';
    line-height: 2.5rem;
}

#year-1-the-epilogue {
    color: #24fcdc;
    font-family: 'BFMS';
    line-height: 2.5rem;
}

#season-5-new-dawn {
    color: #FF6432;
    font-family: 'BFMS';
    line-height: 2.5rem;
}

#season-6-dark-creations {
    color: #647dff;
    font-family: 'BFMS';
    line-height: 2.5rem;
}

#season-7-turning-point {
    color: #f0b469;
    font-family: 'BFMS';
    line-height: 2.5rem;
}

#year-2-the-battle-continues {
    color: #daee1e;
    font-family: 'BFMS';
    line-height: 2.5rem;
}